front-end/node_modules
front-end/data
front-end/.DS_Store
front-end/.env

# Back-end
back-end/.env
back-end/notebook.ipynb
back-end/**/__pycache__
back-end/outputs
back-end/.venv
back-end/.pytest_cache


.DS_Store
.vscode
/scripts/
